<h2>CCI Tech Assessment App</h2>

<button onclick="displayText()">Click me</button>
<p id=para></p>

<script>
    function displayText() {
        document.getElementById("para").innerHTML = "Nice job clicking that button!";
    }
</script>